{{page-title "Login"}}

<div class="card mx-auto" style="width: 32rem" {{!-- template-lint-disable no-inline-styles --}}>
  <div class="card-body">
    <form {{on 'submit' this.login}}>
      <div class="mb-3">
        <label for="apiKey" class="form-label">API key</label>
        <input type="text" name="apiKey" id="apiKey" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-primary mb-3">Login</button>

      <p class="mb-0">
        <a href={{this.loginURL}} target="_blank" rel="noopener noreferrer">
          Your API key can be obtained here.
        </a>
      </p>
    </form>
  </div>
</div>