openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

paths:
  /validations/bioproject/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/bioproject/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/biosample/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/biosample/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/trad/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/trad/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/dra/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/dra/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/gea/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/gea/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/metabobank/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/metabobank/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/jvar/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/jvar/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /requests/{id}:
    get:
      tags:
        - Request

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: integer

          example: 42

      responses:
        '200':
          description: Return the request resource.

          content:
            application/json:
              schema:
                type: object

                properties:
                  status:
                    type: string

                    enum:
                      - waiting
                      - processing
                      - finished

                  validity:
                    type:
                      - string
                      - 'null'

                    enum:
                      - valid
                      - invalid
                      - error
                      - null

                  validation_reports:
                    type: object

                    properties:
                      _base:
                        $ref: '#/components/schemas/ValidationReport'

                      BioProject:
                        $ref: '#/components/schemas/ValidationReport'

                      BioSample:
                        $ref: '#/components/schemas/ValidationReport'

                      Sequence:
                        $ref: '#/components/schemas/ValidationReport'

                      Annotation:
                        $ref: '#/components/schemas/ValidationReport'

                      Submission:
                        $ref: '#/components/schemas/ValidationReport'

                      Experiment:
                        $ref: '#/components/schemas/ValidationReport'

                      Run:
                        $ref: '#/components/schemas/ValidationReport'

                      RunFile:
                        $ref: '#/components/schemas/ValidationReport'

                      Analysis:
                        $ref: '#/components/schemas/ValidationReport'

                      AnalysisFile:
                        $ref: '#/components/schemas/ValidationReport'

                      IDF:
                        $ref: '#/components/schemas/ValidationReport'

                      SDRF:
                        $ref: '#/components/schemas/ValidationReport'

                      ADF:
                        $ref: '#/components/schemas/ValidationReport'

                      RawDataFile:
                        $ref: '#/components/schemas/ValidationReport'

                      ProcessedDataFile:
                        $ref: '#/components/schemas/ValidationReport'

                      MAF:
                        $ref: '#/components/schemas/ValidationReport'

                      Study:
                        $ref: '#/components/schemas/ValidationReport'

                      SampleSet:
                        $ref: '#/components/schemas/ValidationReport'

                      Sample:
                        $ref: '#/components/schemas/ValidationReport'

                      Assay:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantCallSV:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantRegionSV:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantCallFile:
                        $ref: '#/components/schemas/ValidationReport'

                    required:
                      - _base

                  submission:
                    type:
                      - object
                      - 'null'

                    properties:
                      id:
                        type: string

                    required:
                      - id

                required:
                  - status
                  - validity
                  - validation_reports
                  - submission

              example:
                status: finished
                validity: valid

                validation_reports:
                  _base:
                    validity: null
                    details: null

                  BioSample:
                    validity: valid

                    details:
                      validity: true
                      answer: 42

                submission:
                  id: X-84

components:
  schemas:
    ValidationReport:
      type: object

      properties:
        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid
            - error
            - null

        details:
          type:
            - object
            - 'null'

      required:
        - validity
        - details

    BioProjectViaFileJSON:
      type: object

      properties:
        BioProject:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - BioProject

    BioProjectViaFileFormData:
      type: object

      properties:
        BioProject:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - BioProject

    BioSampleViaFileJSON:
      type: object

      properties:
        BioSample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - BioSample

    BioSampleViaFileFormData:
      type: object

      properties:
        BioSample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - BioSample

    TradViaFileJSON:
      type: object

      properties:
        Sequence:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        Annotation:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Sequence
        - Annotation

    TradViaFileFormData:
      type: object

      properties:
        Sequence[]:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        Annotation[]:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Sequence[]
        - Annotation[]

    DRAViaFileJSON:
      type: object

      properties:
        Submission:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Experiment:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Run:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        RunFile:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        Analysis:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        AnalysisFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Submission
        - Experiment
        - Run
        - RunFile

    DRAViaFileFormData:
      type: object

      properties:
        Submission:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Experiment:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Run:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        RunFile[]:
          type: array
          minItems: 1

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        Analysis:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        AnalysisFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Submission
        - Experiment
        - Run
        - RunFile[]

    GEAViaFileJSON:
      type: object

      properties:
        IDF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SDRF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        ADF:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        RawDataFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        ProcessedDataFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - IDF
        - SDRF

    GEAViaFileFormData:
      type: object

      properties:
        IDF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SDRF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        ADF[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        RawDataFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        ProcessedDataFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - IDF
        - SDRF

    MetaboBankViaFileJSON:
      type: object

      properties:
        IDF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SDRF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        MAF:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        RawDataFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        ProcessedDataFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        BioSample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - IDF
        - SDRF

    MetaboBankViaFileFormData:
      type: object

      properties:
        IDF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SDRF:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        MAF[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        RawDataFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        ProcessedDataFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

        BioSample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - IDF
        - SDRF

    JVarViaFileJSON:
      type: object

      properties:
        Study:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SampleSet:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Sample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Experiment:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Assay:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantCallSV:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantRegionSV:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantCallFile:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Study
        - SampleSet
        - Sample
        - Experiment
        - Assay
        - VariantCallSV
        - VariantRegionSV

    JVarViaFileFormData:
      type: object

      properties:
        Study:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        SampleSet:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Sample:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Experiment:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        Assay:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantCallSV:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantRegionSV:
          oneOf:
            - type: string
              format: binary
            - type: string
              pattern: ^~/.
              description: Relative path from the user's home directory prefixed by `~/`.

        VariantCallFile[]:
          type: array
          minItems: 0

          items:
            oneOf:
              - type: string
                format: binary
              - type: string
                pattern: ^~/.
                description: Relative path from the user's home directory prefixed by `~/`.

      required:
        - Study
        - SampleSet
        - Sample
        - Experiment
        - Assay
        - VariantCallSV
        - VariantRegionSV

  requestBodies:
    BioProjectViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BioProjectViaFileJSON'

          example:
            BioProject: ~/mybioproject.xml

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/BioProjectViaFileFormData'

          example:
            BioProject: ~/mybioproject.xml

    BioSampleViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BioSampleViaFileJSON'

          example:
            BioSample: ~/mybiosample.xml

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/BioSampleViaFileFormData'

          example:
            BioSample: ~/mybiosample.xml

    TradViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TradViaFileJSON'

          example:
            Sequence: ~/mysequence.fasta
            Annotation: ~/myannotation.ann

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/TradViaFileFormData'

          example:
            Sequence[]: ~/mysequence.fasta
            Annotation[]: ~/myannotation.ann

    DRAViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DRAViaFileJSON'

          example:
            Submission: ~/mysubmission.xml
            Experiment: ~/myexperiment.xml
            Run: ~/myrun.xml
            RunFile: ~/myrunfile.fastq
            Analysis: ~/myanalysis.xml
            AnalysisFile: ~/myanalysisfile.raw

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/DRAViaFileFormData'

          example:
            Submission: ~/mysubmission.xml
            Experiment: ~/myexperiment.xml
            Run: ~/myrun.xml
            RunFile[]: ~/myrunfile.fastq
            Analysis: ~/myanalysis.xml
            AnalysisFile[]: ~/myanalysisfile.raw

    GEAViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GEAViaFileJSON'

          example:
            IDF: ~/myidf.idf.txt
            SDRF: ~/mysdrf.sdrf.txt
            ADF: ~/myadf.adf.txt
            RawDataFile: ~/myrawdatafile.raw
            ProcessedDataFile: ~/myprocesseddatafile.raw

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/GEAViaFileFormData'

          example:
            IDF: ~/myidf.idf.txt
            SDRF: ~/mysdrf.sdrf.txt
            ADF[]: ~/myadf.adf.txt
            RawDataFile[]: ~/myrawdatafile.raw
            ProcessedDataFile[]: ~/myprocesseddatafile.raw

    MetaboBankViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetaboBankViaFileJSON'

          example:
            IDF: ~/myidf.idf.txt
            SDRF: ~/mysdrf.sdrf.txt
            MAF: ~/mymaf.maf.txt
            RawDataFile: ~/myrawdatafile.raw
            ProcessedDataFile: ~/myprocesseddatafile.raw
            BioSample: ~/mybiosample.tsv

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/MetaboBankViaFileFormData'

          example:
            IDF: ~/myidf.idf.txt
            SDRF: ~/mysdrf.sdrf.txt
            MAF[]: ~/mymaf.maf.txt
            RawDataFile[]: ~/myrawdatafile.raw
            ProcessedDataFile[]: ~/myprocesseddatafile.raw
            BioSample: ~/mybiosample.tsv

    JVarViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JVarViaFileJSON'

          example:
            Study: ~/mystudy.tsv
            SampleSet: ~/mysampleset.tsv
            Sample: ~/mysample.tsv
            Experiment: ~/myexperiment.tsv
            Assay: ~/myassay.tsv
            VariantCallSV: ~/myvariantcallsv.tsv
            VariantRegionSV: ~/myvariantregionsv.tsv
            VariantCallFile: ~/myvariantcallfile.vcf

        multipart/form-data:
          schema:
            $ref: '#/components/schemas/JVarViaFileFormData'

          example:
            Study: ~/mystudy.tsv
            SampleSet: ~/mysampleset.tsv
            Sample: ~/mysample.tsv
            Experiment: ~/myexperiment.tsv
            Assay: ~/myassay.tsv
            VariantCallSV: ~/myvariantcallsv.tsv
            VariantRegionSV: ~/myvariantregionsv.tsv
            VariantCallFile[]: ~/myvariantcallfile.vcf

  responses:
    CreateResponseCreated:
      description: The requested process initiated successfully.

      content:
        application/json:
          schema:
            type: object

            properties:
              request:
                type: object

                properties:
                  id:
                    type: integer

                  url:
                    type: string
                    format: uri

                required:
                  - id
                  - url

            required:
              - request

          example:
            request:
              id: 42
              url: http://www.example.com/api/requests/42

    CreateResponseBadRequest:
      description: The requested process could not be initiated.

      content:
        application/json:
          schema:
            type: object

            properties:
              error:
                type: string

            required:
              - error

          example:
            error: path must be in /home/alice
