openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp
  - url: https://repository-staging.ddbj.nig.ac.jp
  - url: https://repository-dev.ddbj.nig.ac.jp

security:
  - BearerAuth: []

paths:
  /api/api-key:
    get:
      description: Get login URL.

      tags:
        - Authentication

      security: []

      responses:
        '200':
          description: Returns the login URL. Open this URL in your browser.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [login_url]

                properties:
                  login_url:
                    type: string
                    format: uri

              example:
                login_url: https://repository.ddbj.nig.ac.jp/auth/login

  /api/api-key/regenerate:
    post:
      description: Re-generate API key.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns a new API key.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [api_key]

                properties:
                  api_key:
                    type: string

              example:
                api_key: ddbj_repository_VbHQePhpFhvrKI7by1kteMvN2ImLfhGVK4mTPFEZ2EO

        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/me:
    get:
      description: Get your login ID.

      tags:
        - Authentication

      responses:
        '200':
          description: Returns the user's login ID.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [uid]

                properties:
                  uid:
                    type: string

              example:
                uid: alice

        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/validations/bioproject/via-file:
    post:
      description: Run validation for BioProject.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/bioproject/via-file:
    post:
      description: Submit files to BioProject.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/biosample/via-file:
    post:
      description: Run validation for BioSample.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/biosample/via-file:
    post:
      description: Submit files to BioSample.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/trad/via-file:
    post:
      description: Run validation for Trad.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/trad/via-file:
    post:
      description: Submit files to Trad.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/dra/via-file:
    post:
      description: Run validation for DRA.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/dra/via-file:
    post:
      description: Submit files to DRA.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/gea/via-file:
    post:
      description: Run validation for GEA.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/gea/via-file:
    post:
      description: Submit files to GEA.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/metabobank/via-file:
    post:
      description: Run validation for MetaboBank.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/metabobank/via-file:
    post:
      description: Submit files to MetaboBank.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/validations/jvar/via-file:
    post:
      description: Run validation for JVar.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/submissions/jvar/via-file:
    post:
      description: Submit files to JVar.

      tags:
        - Run

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /api/requests:
    get:
      description: Get your requests.

      tags:
        - Request

      parameters:
        - in: query
          name: page

          schema:
            type: integer

      responses:
        '200':
          description: Return your requests.

          headers:
            Link:
              schema:
                type: string

              description: GitHub-style pagination URLs. See [Using pagination in the REST API - GitHub Docs](https://docs.github.com/en/rest/using-the-rest-api/using-pagination-in-the-rest-api?apiVersion=2022-11-28) for details.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Request'

              example:
                - id: 100
                  url: https://repository.ddbj.nig.ac.jp/api/requests/100
                  status: finished
                  validity: valid

                  validation_reports:
                    - object_id: _base
                      path: null
                      validity: valid
                      details: null

                    - object_id: BioSample
                      path: mybiosample.xml
                      validity: valid

                      details:
                        validity: true
                        answer: 42

                  submission:
                    id: X-200
                    url: https://repository.ddbj.nig.ac.jp/api/submissions/X-200

                - id: 101
                  url: https://repository.ddbj.nig.ac.jp/api/requests/101
                  status: waiting
                  validity: null

                  validation_reports:
                    - object_id: _base
                      path: null
                      validity: null
                      details: null

                  submission: null

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/requests/{id}:
    get:
      description: Get the request.

      tags:
        - Request

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: integer

          example: 42

      responses:
        '200':
          description: Return the request.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'

              example:
                id: 42
                url: https://repository.ddbj.nig.ac.jp/api/requests/42
                status: finished
                validity: valid

                validation_reports:
                  - object_id: _base
                    path: null
                    validity: null
                    details: null

                  - object_id: BioSample
                    path: mybiosample.xml
                    validity: valid

                    details:
                      validity: true
                      answer: 42

                submission:
                  id: X-84
                  url: https://repository.ddbj.nig.ac.jp/api/submissions/X-84

        '401':
          $ref: '#/components/responses/Unauthorized'

    delete:
      description: Cancel the request.

      tags:
        - Request

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: integer

          example: 42

      responses:
        '200':
          description: Request canceled successfully.

          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [message]

                properties:
                  message:
                    type: string

        '401':
          $ref: '#/components/responses/Unauthorized'

        '409':
          description: Request already canceled or finished.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/submissions:
    get:
      description: Get your submissions.

      tags:
        - Submission

      parameters:
        - in: query
          name: page

          schema:
            type: integer

      responses:
        '200':
          description: Return your submissions.

          headers:
            Link:
              schema:
                type: string

              description: The GitHub-style pagination URLs. See [Using pagination in the REST API - GitHub Docs](https://docs.github.com/en/rest/using-the-rest-api/using-pagination-in-the-rest-api?apiVersion=2022-11-28) for details.

          content:
            application/json:
              schema:
                type: array

                items:
                  $ref: '#/components/schemas/Submission'

        '400':
          $ref: '#/components/responses/BadRequest'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/submissions/{id}:
    get:
      description: Get the submission.

      tags:
        - Submission

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: string

          example: X-42

      responses:
        '200':
          description: Return the submission.

          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/submissions/{id}/files/{path}:
    get:
      description: Get the submission file content.

      tags:
        - Submission

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: string

          example: X-42

        - name: path
          in: path
          required: true
          style: matrix
          explode: true

          schema:
            type: string

          example: dest/mybiosample.xml

      responses:
        '302':
          description: Redirect to the file.

        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    Request:
      type: object
      additionalProperties: false
      required: [id, url, created_at, purpose, db, status, validity, validation_reports, submission]

      properties:
        id:
          type: integer

        url:
          type: string
          format: uri

        created_at:
          type: string
          format: date-time

        purpose:
          type: string

          enum:
            - validate
            - submit

        db:
          type: string

          enum:
            - BioProject
            - BioSample
            - Trad
            - DRA
            - GEA
            - MetaboBank
            - JVar

        status:
          type: string

          enum:
            - waiting
            - processing
            - finished
            - canceled

        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid
            - error
            - null

        validation_reports:
          type: array

          items:
            $ref: '#/components/schemas/ValidationReport'

        submission:
          type:
            - object
            - 'null'

          required: [id, url]

          properties:
            id:
              type: string

            url:
              type: string
              format: uri

    Submission:
      type: object
      additionalProperties: false
      required: [id, url, created_at, db, objects]

      properties:
        id:
          type: string

        url:
          type: string
          format: uri

        created_at:
          type: string
          format: date-time

        db:
          type: string

          enum:
            - BioProject
            - BioSample
            - Trad
            - DRA
            - GEA
            - MetaboBank
            - JVar

        objects:
          type: array

          items:
            type: object
            additionalProperties: false
            required: [id, files]

            properties:
              id:
                type: string

                enum:
                  - BioProject
                  - BioSample
                  - Sequence
                  - Annotation
                  - Submission
                  - Experiment
                  - Run
                  - RunFile
                  - Analysis
                  - AnalysisFile
                  - IDF
                  - SDRF
                  - ADF
                  - RawDataFile
                  - ProcessedDataFile
                  - MAF
                  - Excel
                  - VariantCallFile

              files:
                type: array

                items:
                  type: object
                  additionalProperties: false
                  required: [path, url]

                  properties:
                    path:
                      type: string

                    url:
                      type: string
                      format: uri

    ValidationReport:
      type: object
      additionalProperties: false
      required: [object_id, path, validity, details]

      properties:
        object_id:
          type: string

          enum:
            - _base
            - BioProject
            - BioSample
            - Sequence
            - Annotation
            - Submission
            - Experiment
            - Run
            - RunFile
            - Analysis
            - AnalysisFile
            - IDF
            - SDRF
            - ADF
            - RawDataFile
            - ProcessedDataFile
            - MAF
            - Excel
            - VariantCallFile

        path:
          type:
            - string
            - 'null'

        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid
            - error
            - null

        details:
          type:
            - object
            - 'null'

    BioProjectViaFileFormDataBioProject:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - BioProject[file]

            properties:
              BioProject[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - BioProject[path]

            properties:
              BioProject[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            BioProject[destination]:
              type: string

    BioSampleViaFileFormDataBioSample:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - BioSample[file]

            properties:
              BioSample[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - BioSample[path]

            properties:
              BioSample[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            BioSample[destination]:
              type: string

    TradViaFileFormDataSequence:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Sequence[][file]

            properties:
              Sequence[][file]:
                type: array
                minItems: 1

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false
            required:
              - Sequence[][path]

            properties:
              Sequence[][path]:
                type: array
                minItems: 1

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Sequence[][destination]:
              type: array
              minItems: 1

              items:
                type: string

    TradViaFileFormDataAnnotation:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Annotation[][file]

            properties:
              Annotation[][file]:
                type: array
                minItems: 1

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false
            required:
              - Annotation[][path]

            properties:
              Annotation[][path]:
                type: array
                minItems: 1

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Annotation[][destination]:
              type: array
              minItems: 1

              items:
                type: string

    DRAViaFileFormDataSubmission:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Submission[file]

            properties:
              Submission[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - Submission[path]

            properties:
              Submission[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Submission[destination]:
              type: string

    DRAViaFileFormDataExperiment:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Experiment[file]

            properties:
              Experiment[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - Experiment[path]

            properties:
              Experiment[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Experiment[destination]:
              type: string

    DRAViaFileFormDataRun:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Run[file]

            properties:
              Run[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - Run[path]

            properties:
              Run[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Run[destination]:
              type: string

    DRAViaFileFormDataRunFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - RunFile[][file]

            properties:
              RunFile[][file]:
                type: array
                minItems: 1

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false
            required:
              - RunFile[][path]

            properties:
              RunFile[][path]:
                type: array
                minItems: 1

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            RunFile[][destination]:
              type: array
              minItems: 1

              items:
                type: string

    DRAViaFileFormDataAnalysis:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              Analysis[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false

            properties:
              Analysis[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Analysis[destination]:
              type: string

    DRAViaFileFormDataAnalysisFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              AnalysisFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              AnalysisFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            AnalysisFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    GEAViaFileFormDataIDF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - IDF[file]

            properties:
              IDF[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - IDF[path]

            properties:
              IDF[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            IDF[destination]:
              type: string

    GEAViaFileFormDataSDRF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - SDRF[file]

            properties:
              SDRF[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - SDRF[path]

            properties:
              SDRF[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            SDRF[destination]:
              type: string

    GEAViaFileFormDataADF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              ADF[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              ADF[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            ADF[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    GEAViaFileFormDataRawDataFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              RawDataFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              RawDataFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            RawDataFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    GEAViaFileFormDataProcessedDataFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              ProcessedDataFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              ProcessedDataFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            ProcessedDataFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    MetaboBankViaFileFormDataIDF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - IDF[file]

            properties:
              IDF[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - IDF[path]

            properties:
              IDF[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            IDF[destination]:
              type: string

    MetaboBankViaFileFormDataSDRF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - SDRF[file]

            properties:
              SDRF[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - SDRF[path]

            properties:
              SDRF[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            SDRF[destination]:
              type: string

    MetaboBankViaFileFormDataMAF:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              MAF[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              MAF[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            MAF[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    MetaboBankViaFileFormDataRawDataFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              RawDataFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              RawDataFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            RawDataFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    MetaboBankViaFileFormDataProcessedDataFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              ProcessedDataFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              ProcessedDataFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            ProcessedDataFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    MetaboBankViaFileFormDataBioSample:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              BioSample[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false

            properties:
              BioSample[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            BioSample[destination]:
              type: string

    JVarViaFileFormDataExcel:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            required:
              - Excel[file]

            properties:
              Excel[file]:
                type: string
                format: binary

          - type: object
            additionalProperties: false
            required:
              - Excel[path]

            properties:
              Excel[path]:
                $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            Excel[destination]:
              type: string

    JVarViaFileFormDataVariantCallFile:
      allOf:
        - oneOf:
          - type: object
            additionalProperties: false

            properties:
              VariantCallFile[][file]:
                type: array
                minItems: 0

                items:
                  type: string
                  format: binary

          - type: object
            additionalProperties: false

            properties:
              VariantCallFile[][path]:
                type: array
                minItems: 0

                items:
                  $ref: '#/components/schemas/UserHomePath'

        - type: object
          additionalProperties: false

          properties:
            VariantCallFile[][destination]:
              type: array
              minItems: 0

              items:
                type: string

    UserHomePath:
      type: string
      description: Relative path from the user's home directory.

    Error:
      type: object
      additionalProperties: false
      required: [error]

      properties:
        error:
          type: string

  requestBodies:
    BioProjectViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/BioProjectViaFileFormDataBioProject'

    BioSampleViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/BioSampleViaFileFormDataBioSample'

    TradViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/TradViaFileFormDataSequence'
              - $ref: '#/components/schemas/TradViaFileFormDataAnnotation'

    DRAViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/DRAViaFileFormDataSubmission'
              - $ref: '#/components/schemas/DRAViaFileFormDataExperiment'
              - $ref: '#/components/schemas/DRAViaFileFormDataRun'
              - $ref: '#/components/schemas/DRAViaFileFormDataRunFile'
              - $ref: '#/components/schemas/DRAViaFileFormDataAnalysis'
              - $ref: '#/components/schemas/DRAViaFileFormDataAnalysisFile'

    GEAViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/GEAViaFileFormDataIDF'
              - $ref: '#/components/schemas/GEAViaFileFormDataSDRF'
              - $ref: '#/components/schemas/GEAViaFileFormDataADF'
              - $ref: '#/components/schemas/GEAViaFileFormDataRawDataFile'
              - $ref: '#/components/schemas/GEAViaFileFormDataProcessedDataFile'

    MetaboBankViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataIDF'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataSDRF'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataMAF'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataRawDataFile'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataProcessedDataFile'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataBioSample'

    JVarViaFile:
      content:
        multipart/form-data:
          schema:
            allOf:
              - $ref: '#/components/schemas/JVarViaFileFormDataExcel'
              - $ref: '#/components/schemas/JVarViaFileFormDataVariantCallFile'

  responses:
    CreateResponseCreated:
      description: The requested process initiated successfully.

      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            required: [request]

            properties:
              request:
                type: object
                additionalProperties: false
                required: [id, url]

                properties:
                  id:
                    type: integer

                  url:
                    type: string
                    format: uri

          example:
            request:
              id: 42
              url: http://www.example.com/api/requests/42

    CreateResponseBadRequest:
      description: The requested process could not be initiated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

          example:
            error: path must be in /home/alice

    BadRequest:
      description: Unexpected parameter specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

          example:
            error: expected :page in 1..3; got 4

    Unauthorized:
      description: Not authenticated.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

          example:
            error: Unauthorized

    UnprocessableEntity:
      description: Invalid parameter or payload was specified.

      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

          example:
            error: 'Validation failed: Path is duplicated: mybiosample.xml'
