openapi: 3.1.0

info:
  title: DDBJ Repository API
  version: 1.0.0

servers:
  - url: https://repository.ddbj.nig.ac.jp/api
  - url: https://repository-staging.ddbj.nig.ac.jp/api
  - url: https://repository-dev.ddbj.nig.ac.jp/api

paths:
  /validations/bioproject/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/bioproject/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/BioProjectViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/biosample/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/biosample/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/BioSampleViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/trad/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/trad/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/TradViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/dra/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/dra/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/DRAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/gea/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/gea/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/GEAViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/metabobank/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/metabobank/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/MetaboBankViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /validations/jvar/via-file:
    post:
      tags:
        - Validation

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /submissions/jvar/via-file:
    post:
      tags:
        - Submission

      requestBody:
        $ref: '#/components/requestBodies/JVarViaFile'

      responses:
        '201':
          $ref: '#/components/responses/CreateResponseCreated'

        '400':
          $ref: '#/components/responses/CreateResponseBadRequest'

  /requests/{id}:
    get:
      tags:
        - Request

      parameters:
        - name: id
          in: path
          required: true

          schema:
            type: integer

          example: 42

      responses:
        '200':
          description: Return the request resource.

          content:
            application/json:
              schema:
                type: object

                properties:
                  status:
                    type: string

                    enum:
                      - waiting
                      - processing
                      - finished

                  validity:
                    type:
                      - string
                      - 'null'

                    enum:
                      - valid
                      - invalid
                      - error
                      - null

                  validation_reports:
                    type: object

                    properties:
                      _base:
                        $ref: '#/components/schemas/ValidationReport'

                      BioProject:
                        $ref: '#/components/schemas/ValidationReport'

                      BioSample:
                        $ref: '#/components/schemas/ValidationReport'

                      Sequence:
                        $ref: '#/components/schemas/ValidationReport'

                      Annotation:
                        $ref: '#/components/schemas/ValidationReport'

                      Submission:
                        $ref: '#/components/schemas/ValidationReport'

                      Experiment:
                        $ref: '#/components/schemas/ValidationReport'

                      Run:
                        $ref: '#/components/schemas/ValidationReport'

                      RunFile:
                        $ref: '#/components/schemas/ValidationReport'

                      Analysis:
                        $ref: '#/components/schemas/ValidationReport'

                      AnalysisFile:
                        $ref: '#/components/schemas/ValidationReport'

                      IDF:
                        $ref: '#/components/schemas/ValidationReport'

                      SDRF:
                        $ref: '#/components/schemas/ValidationReport'

                      ADF:
                        $ref: '#/components/schemas/ValidationReport'

                      RawDataFile:
                        $ref: '#/components/schemas/ValidationReport'

                      ProcessedDataFile:
                        $ref: '#/components/schemas/ValidationReport'

                      MAF:
                        $ref: '#/components/schemas/ValidationReport'

                      Study:
                        $ref: '#/components/schemas/ValidationReport'

                      SampleSet:
                        $ref: '#/components/schemas/ValidationReport'

                      Sample:
                        $ref: '#/components/schemas/ValidationReport'

                      Assay:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantCallSV:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantRegionSV:
                        $ref: '#/components/schemas/ValidationReport'

                      VariantCallFile:
                        $ref: '#/components/schemas/ValidationReport'

                    required:
                      - _base

                  submission:
                    type:
                      - object
                      - 'null'

                    properties:
                      id:
                        type: string

                    required:
                      - id

                required:
                  - status
                  - validity
                  - validation_reports
                  - submission

              example:
                status: finished
                validity: valid

                validation_reports:
                  _base:
                    validity: null
                    details: null

                  BioSample:
                    validity: valid

                    details:
                      validity: true
                      answer: 42

                submission:
                  id: X-84

components:
  schemas:
    ValidationReport:
      type: object

      properties:
        validity:
          type:
            - string
            - 'null'

          enum:
            - valid
            - invalid
            - error
            - null

        details:
          type:
            - object
            - 'null'

      required:
        - validity
        - details

    BioProjectViaFileJSON:
      type: object

      properties:
        BioProject:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

      required:
        - BioProject

    BioProjectViaFileFormDataFile:
      type: object

      properties:
        BioProject[file]:
          type: string
          format: binary

        BioProject[destination]:
          type: string

      required:
        - BioProject[file]

    BioProjectViaFileFormDataPath:
      type: object

      properties:
        BioProject[path]:
          type: string

        BioProject[destination]:
          type: string

      required:
        - BioProject[path]

    BioSampleViaFileJSON:
      type: object

      properties:
        BioSample:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

      required:
        - BioSample

    BioSampleViaFileFormDataFile:
      type: object

      properties:
        BioSample[file]:
          type: string
          format: binary

        BioSample[destination]:
          type: string

      required:
        - BioSample[file]

    BioSampleViaFileFormDataPath:
      type: object

      properties:
        BioSample[path]:
          type: string

        BioSample[destination]:
          type: string

      required:
        - BioSample[path]

    TradViaFileJSON:
      type: object

      properties:
        Sequence:
          type: array
          minItems: 1

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        Annotation:
          type: array
          minItems: 1

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

      required:
        - Sequence
        - Annotation

    TradViaFileFormDataFile:
      type: object

      properties:
        Sequence[][file]:
          type: array
          minItems: 1

          items:
            type: string
            format: binary

        Sequence[][destination]:
          type: array
          minItems: 1

          items:
            type: string

        Annotation[][file]:
          type: array
          minItems: 1

          items:
            type: string
            format: binary

        Annotation[][destination]:
          type: array
          minItems: 1

          items:
            type: string

      required:
        - Sequence[][file]
        - Annotation[][file]

    TradViaFileFormDataPath:
      type: object

      properties:
        Sequence[][path]:
          type: array
          minItems: 1

          items:
            type: string

        Sequence[][destination]:
          type: array
          minItems: 1

          items:
            type: string

        Annotation[][path]:
          type: array
          minItems: 1

          items:
            type: string

        Annotation[][destination]:
          type: array
          minItems: 1

          items:
            type: string

      required:
        - Sequence[][path]
        - Annotation[][path]

    DRAViaFileJSON:
      type: object

      properties:
        Submission:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        Experiment:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        Run:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        RunFile:
          type: array
          minItems: 1

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        Analysis:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        AnalysisFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

      required:
        - Submission
        - Experiment
        - Run
        - RunFile

    DRAViaFileFormDataFile:
      type: object

      properties:
        Submission[file]:
          type: string
          format: binary

        Submission[destination]:
          type: string

        Experiment[file]:
          type: string
          format: binary

        Experiment[destination]:
          type: string

        Run[file]:
          type: string
          format: binary

        Run[destination]:
          type: string

        RunFile[][file]:
          type: array
          minItems: 1

          items:
            type: string
            format: binary

        RunFile[][destination]:
          type: array
          minItems: 1

          items:
            type: string

        Analysis[file]:
          type: string
          format: binary

        Analysis[destination]:
          type: string

        AnalysisFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        AnalysisFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - Submission[file]
        - Experiment[file]
        - Run[file]
        - RunFile[][file]

    DRAViaFileFormDataPath:
      type: object

      properties:
        Submission[path]:
          type: string

        Submission[destination]:
          type: string

        Experiment[path]:
          type: string

        Experiment[destination]:
          type: string

        Run[path]:
          type: string

        Run[destination]:
          type: string

        RunFile[][path]:
          type: array
          minItems: 1

          items:
            type: string

        RunFile[][destination]:
          type: array
          minItems: 1

          items:
            type: string

        Analysis[path]:
          type: string

        Analysis[destination]:
          type: string

        AnalysisFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        AnalysisFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - Submission[path]
        - Experiment[path]
        - Run[path]
        - RunFile[][path]

    GEAViaFileJSON:
      type: object

      properties:
        IDF:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        SDRF:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        ADF:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        RawDataFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        ProcessedDataFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

      required:
        - IDF
        - SDRF

    GEAViaFileFormDataFile:
      type: object

      properties:
        IDF[file]:
          type: string
          format: binary

        IDF[destination]:
          type: string

        SDRF[file]:
          type: string
          format: binary

        SDRF[destination]:
          type: string

        ADF[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        ADF[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        RawDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        ProcessedDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - IDF[file]
        - SDRF[file]

    GEAViaFileFormDataPath:
      type: object

      properties:
        IDF[path]:
          type: string

        IDF[destination]:
          type: string

        SDRF[path]:
          type: string

        SDRF[destination]:
          type: string

        ADF[][path]:
          type: array
          minItems: 0

          items:
            type: string

        ADF[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - IDF[path]
        - SDRF[path]

    MetaboBankViaFileJSON:
      type: object

      properties:
        IDF:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        SDRF:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        MAF:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        RawDataFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        ProcessedDataFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

        BioSample:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

      required:
        - IDF
        - SDRF

    MetaboBankViaFileFormDataFile:
      type: object

      properties:
        IDF[file]:
          type: string
          format: binary

        IDF[destination]:
          type: string

        SDRF[file]:
          type: string
          format: binary

        SDRF[destination]:
          type: string

        MAF[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        MAF[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        RawDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        ProcessedDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        BioSample[file]:
          type: string
          format: binary

        BioSample[destination]:
          type: string

      required:
        - IDF[file]
        - SDRF[file]

    MetaboBankViaFileFormDataPath:
      type: object

      properties:
        IDF[path]:
          type: string

        IDF[destination]:
          type: string

        SDRF[path]:
          type: string

        SDRF[destination]:
          type: string

        MAF[][path]:
          type: array
          minItems: 0

          items:
            type: string

        MAF[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        RawDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        ProcessedDataFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

        BioSample[path]:
          type: string

        BioSample[destination]:
          type: string

      required:
        - IDF[path]
        - SDRF[path]

    JVarViaFileJSON:
      type: object

      properties:
        Study:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        SampleSet:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        Sample:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        Experiment:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        Assay:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        VariantCallSV:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        VariantRegionSV:
          type: object

          properties:
            path:
              type: string
              description: Relative path from the user's home directory.

            destination:
              type: string

          required:
            - path

        VariantCallFile:
          type: array
          minItems: 0

          items:
            type: object

            properties:
              path:
                type: string
                description: Relative path from the user's home directory.

              destination:
                type: string

            required:
              - path

      required:
        - Study
        - SampleSet
        - Sample
        - Experiment
        - Assay
        - VariantCallSV
        - VariantRegionSV

    JVarViaFileFormDataFile:
      type: object

      properties:
        Study[file]:
          type: string
          format: binary

        Study[destination]:
          type: string

        SampleSet[file]:
          type: string
          format: binary

        SampleSet[destination]:
          type: string

        Sample[file]:
          type: string
          format: binary

        Sample[destination]:
          type: string

        Experiment[file]:
          type: string
          format: binary

        Experiment[destination]:
          type: string

        Assay[file]:
          type: string
          format: binary

        Assay[destination]:
          type: string

        VariantCallSV[file]:
          type: string
          format: binary

        VariantCallSV[destination]:
          type: string

        VariantRegionSV[file]:
          type: string
          format: binary

        VariantRegionSV[destination]:
          type: string

        VariantCallFile[][file]:
          type: array
          minItems: 0

          items:
            type: string
            format: binary

        VariantCallFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - Study[file]
        - SampleSet[file]
        - Sample[file]
        - Experiment[file]
        - Assay[file]
        - VariantCallSV[file]
        - VariantRegionSV[file]

    JVarViaFileFormDataPath:
      type: object

      properties:
        Study[path]:
          type: string

        Study[destination]:
          type: string

        SampleSet[path]:
          type: string

        SampleSet[destination]:
          type: string

        Sample[path]:
          type: string

        Sample[destination]:
          type: string

        Experiment[path]:
          type: string

        Experiment[destination]:
          type: string

        Assay[path]:
          type: string

        Assay[destination]:
          type: string

        VariantCallSV[path]:
          type: string

        VariantCallSV[destination]:
          type: string

        VariantRegionSV[path]:
          type: string

        VariantRegionSV[destination]:
          type: string

        VariantCallFile[][path]:
          type: array
          minItems: 0

          items:
            type: string

        VariantCallFile[][destination]:
          type: array
          minItems: 0

          items:
            type: string

      required:
        - Study[path]
        - SampleSet[path]
        - Sample[path]
        - Experiment[path]
        - Assay[path]
        - VariantCallSV[path]
        - VariantRegionSV[path]

  requestBodies:
    BioProjectViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BioProjectViaFileJSON'

          example:
            BioProject:
              path: mybioproject.xml
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/BioProjectViaFileFormDataFile'
              - $ref: '#/components/schemas/BioProjectViaFileFormDataPath'

    BioSampleViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BioSampleViaFileJSON'

          example:
            BioSample:
              path: mybiosample.xml
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/BioSampleViaFileFormDataFile'
              - $ref: '#/components/schemas/BioSampleViaFileFormDataPath'

    TradViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TradViaFileJSON'

          example:
            Sequence:
              path: mysequence.fasta
              destination: path/to/destination
            Annotation:
              path: myannotation.ann
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/TradViaFileFormDataFile'
              - $ref: '#/components/schemas/TradViaFileFormDataPath'

    DRAViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DRAViaFileJSON'

          example:
            Submission:
              path: mysubmission.xml
              destination: path/to/destination
            Experiment:
              path: myexperiment.xml
              destination: path/to/destination
            Run:
              path: myrun.xml
              destination: path/to/destination
            RunFile:
              path: myrunfile.fastq
              destination: path/to/destination
            Analysis:
              path: myanalysis.xml
              destination: path/to/destination
            AnalysisFile:
              path: myanalysisfile.raw
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/DRAViaFileFormDataFile'
              - $ref: '#/components/schemas/DRAViaFileFormDataPath'

    GEAViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GEAViaFileJSON'

          example:
            IDF:
              path: myidf.idf.txt
              destination: path/to/destination
            SDRF:
              path: mysdrf.sdrf.txt
              destination: path/to/destination
            ADF:
              path: myadf.adf.txt
              destination: path/to/destination
            RawDataFile:
              path: myrawdatafile.raw
              destination: path/to/destination
            ProcessedDataFile:
              path: myprocesseddatafile.raw
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/GEAViaFileFormDataFile'
              - $ref: '#/components/schemas/GEAViaFileFormDataPath'

    MetaboBankViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MetaboBankViaFileJSON'

          example:
            IDF:
              path: myidf.idf.txt
              destination: path/to/destination
            SDRF:
              path: mysdrf.sdrf.txt
              destination: path/to/destination
            MAF:
              path: mymaf.maf.txt
              destination: path/to/destination
            RawDataFile:
              path: myrawdatafile.raw
              destination: path/to/destination
            ProcessedDataFile:
              path: myprocesseddatafile.raw
              destination: path/to/destination
            BioSample:
              path: mybiosample.tsv
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataFile'
              - $ref: '#/components/schemas/MetaboBankViaFileFormDataPath'

    JVarViaFile:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JVarViaFileJSON'

          example:
            Study:
              path: mystudy.tsv
              destination: path/to/destination
            SampleSet:
              path: mysampleset.tsv
              destination: path/to/destination
            Sample:
              path: mysample.tsv
              destination: path/to/destination
            Experiment:
              path: myexperiment.tsv
              destination: path/to/destination
            Assay:
              path: myassay.tsv
              destination: path/to/destination
            VariantCallSV:
              path: myvariantcallsv.tsv
              destination: path/to/destination
            VariantRegionSV:
              path: myvariantregionsv.tsv
              destination: path/to/destination
            VariantCallFile:
              path: myvariantcallfile.vcf
              destination: path/to/destination

        multipart/form-data:
          schema:
            oneOf:
              - $ref: '#/components/schemas/JVarViaFileFormDataFile'
              - $ref: '#/components/schemas/JVarViaFileFormDataPath'

  responses:
    CreateResponseCreated:
      description: The requested process initiated successfully.

      content:
        application/json:
          schema:
            type: object

            properties:
              request:
                type: object

                properties:
                  id:
                    type: integer

                  url:
                    type: string
                    format: uri

                required:
                  - id
                  - url

            required:
              - request

          example:
            request:
              id: 42
              url: http://www.example.com/api/requests/42

      links:
        Request:
          operationRef: '#/paths/~1requests~1{id}'
          parameters:
            id: $response.body#/request.id

    CreateResponseBadRequest:
      description: The requested process could not be initiated.

      content:
        application/json:
          schema:
            type: object

            properties:
              error:
                type: string

            required:
              - error

          example:
            error: path must be in /home/alice
